    *
    {
        color: black; 
    }
   body
   {
        background:url("c.jpg");
        height: 100%;
        background-position: right top;
        background-repeat: repeat-y;
        background-size: cover;
    }
.form1
        {
            background-color: whitesmoke;
        }
    .form-group
    {
        font-size:18px;
        font-weight: bold;
    }
    .form-control
    {
         font-size:15px;
        font-weight: bold;
    }
    .checkbox
    {
        font-size:18px;
        font-weight: bold;
    }
    .form-container
    {
        border: 0px solid #fff;
        padding: 50px 60px;
        margin-top: 20vh;
        
        -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        box-shadow:  -1px 4px 26px 11px rgba(0,0,0,0.75);
    }
        .nav{
            font-size: 16px;
        }
        .navbar-brand
        {
            font-size: 25px;
        }
        a:hover{
            text-decoration:  none;
            font-weight:      bold;
            font-size: 20.5px;
            color:            green;
        }
        a{
            font-weight:  bold;
            font-size: 20px;
            color: black;
        }
        .btn
        {
            font-size: 18px;
            font-weight: bold;
        }
        .divroll
        {
           
            width:350px;
                
        }
     
